* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
}
.canvas-c {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 0;
}
.section {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 0 14.4rem;
	position: relative;
	pointer-events: none;
	color: white;
}

.container {
	max-width: 172rem;
	width: 100%;
	margin: 0 auto;
}
.tech-c {
	width: 80rem;
	z-index: 1;
	position: relative;
}
.tech-text {
	font-size: 4.6rem;
}
h2 {
	margin: 0;
	font-family: Merriweather;
	font-style: italic;
	font-weight: 400;
	line-height: 1.3;
}
p {
	margin: 0;
	font-size: 2.4rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	line-height: 160%;
	max-width: 52.3rem;
}
